canvas { position:fixed; top:0; left:0; z-index:-1; }

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: 0px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border-radius: 50%px;
    background: white;
    opacity: 1;
    box-shadow: 5px 5px 5px #888888;
    	outline : 0px;
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    cursor: pointer;
    width: 125px;
    height: 6px;
    opacity: 0.75;
    box-shadow: 5px 5px 5px #888888;
    outline : 0px;
}


p{
	color: black;
	font-family : 'Homemade Apple', cursive;
	font-size:50px;
	padding-bottom: 0px;
}

select {
	-webkit-appearance: none;
    -moz-appearance: none;
	cursor: pointer;
  	display: inline-block;
  	font-family : 'Homemade Apple', cursive;
	font-size:18px;
	height: 40px;
	outline : 0px;
	outline-color: rgb(206,190,190);	
	background-color: rgb(206,190,190);
	color:rgb(0); 
	padding-left:5px; ;
	padding-right: 5px; 
	border:0px; 
	line-height: 30px;	
    text-align-last: center;
     border-radius: 10px;
     box-shadow: 5px 5px 5px #888888;
    
}

select:active, select:hover {
	-webkit-appearance: none;
    -moz-appearance: none;
    outline-color: rgb(206,190,190);
    color :black ;
    background-color: rgb(206,190,190);
    text-align-last: center;
  
}

select.f-dropdown {
    outline: 0px #333;
    text-align-last: center;
}


button{
    -moz-appearance: none;
    color: black;
	font-family : 'Homemade Apple', cursive;
    background-color: rgb(206,190,190);
    outline : 0px;
    border : 0px;
    outline-color: rgb(206,190,190);	
	font-size:20px;
	padding-bottom: 00px;
    border-radius: 10px;
     box-shadow: 5px 5px 5px #888888;
}

/* Tooltip container */
.tooltip {
    -webkit-appearance: none;
    -moz-appearance: none;
    z-index: 1;
     line-height:  20px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    border-bottom: 0px dotted black; /* If you want dots under the hoverable text */
    border-radius: 50%;
    height: 20px;
    width: 20px;
    box-shadow: 5px 5px 5px #888888;

}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: -1;
    top: 0%;
    left: 100%;
    margin-left: 15px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
